@import './mixin.scss';
$scrollbar-width: 7px;
$scrollbar-radius: 20px;
$scrollbar-thumb-color: rgba(204, 204, 204, .3);

::-webkit-scrollbar {
  @include scrollbar($scrollbar-width, $scrollbar-width);
}
::-webkit-scrollbar-track {
  @include scrollbarTrack($scrollbar-radius, $color: transparent);
}
::-webkit-scrollbar-thumb {
  @include scrollbarThumb($scrollbar-radius, $scrollbar-thumb-color, $shadowWidth: 1px);
}

.vb {
  > .vb-dragger {
    z-index: 5;
    width: $scrollbar-width;
    right: 0;
    > .vb-dragger-styler {
      background-color: $scrollbar-thumb-color;
      border-radius: $scrollbar-radius;
      height: calc(100% - 10px);
    }
  }
}