// 多菜单内边距
$submenuPadding: 0 16px;
// 单菜单内边距
$menuItemPadding: 0 44px;
// 多菜单背景
$submenuBg: rgba(167, 201, 225, .4);
// 单菜单背景
$menuItemBg: rgba(167, 201, 225, .2);
// 图标宽度
$iconWidth: 30px;
// 图标高度
$iconHeight: 30px;
// 图标外边距
$iconMargin: 0 10px 0 0;
// 文字颜色
$textColor: #000;
// 文字高亮颜色
$textActiveColor: #4F93F7;

.sidebar {
  display: flex;
  overflow: hidden;
  .el-submenu__title,
  .el-menu-item {
    padding: 0 !important; 
  }
  .el-menu-item:focus, .el-menu-item:hover,
  .el-submenu__title:focus, .el-submenu__title:hover {
    background-color: transparent;
  }
  .el-menu--collapse {
    .el-submenu__title {
      display: flex;
      align-items: center;
    }
    .el-menu-item {
      display: flex;
      align-items: center;
    }
  }
  .el-menu--collapse > div > .el-submenu > .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }
  .el-menu--collapse > div > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }
  .el-menu--collapse > div > .el-menu-item > .menu-item-wrapper > .menu-item > span {
    display: none;
  }

  .menu-main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .el-menu {
    background-color: transparent;
    .menu-item {
      display: flex;
      align-items: center;
      .menu-item-icon {
        margin: $iconMargin;
        width: $iconWidth;
        height: $iconWidth;
      }
      .menu-item-title {
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $textColor;
      }
    }
  }
  // 多菜单样式设置
  .el-submenu {
    &.is-active {
      background: $submenuBg;
      .menu-item-icon-not-active {
        display: none;
      }
      .menu-item-icon-active {
        display: inline-block;
      }
    }
    .submenu-wrapper {
      padding: $submenuPadding;
    }
    .el-menu-item {
      background-color: transparent !important;
      .menu-item-wrapper {
        padding: $menuItemPadding;
      }
      .menu-item-icon-not-active {
        display: inline-block;
      }
      .menu-item-icon-active {
        display: none;
      }
    }
    .menu-item-icon-not-active {
      display: inline-block;
    }
    .menu-item-icon-active {
      display: none;
    }
  }
  // 单菜单样式设置
  .el-menu-item {
    &.is-active {
      background: $submenuBg;
      .menu-item-title {
        color: $textActiveColor;
      }
      .menu-item-icon-not-active {
        display: none;
      }
      .menu-item-icon-active {
        display: inline-block;
      }
    }
    & > .menu-item-wrapper {
      padding: $submenuPadding;
    }
    .menu-item-icon-not-active {
      display: inline-block;
    }
    .menu-item-icon-active {
      display: none;
    }
  }
}